@{
    ViewData["Title"] = "User Page";
}



<div class="container h-50">
    <div class="row h-100">
        <div class="col-4 d-flex justify-content-center align-items-center">
            <span class="user-pp-border rounded-circle "><img class="rounded-circle user-pp" src="@Url.Content("images/pp/default.png")" /></span>
        </div>
        <div id="user-info" class="col-8 d-flex justify-content-center" style="flex-direction:column">
            <div class="d-flex justify-content-around">
                <div>Name</div>
                <div>Follow</div>
            </div>
            <hr class="opacity-0" />
            <div class="d-flex justify-content-around">
                <div>Gönderi</div>
                <div>Takipçi</div>
                <div>Takip</div>
            </div>
        </div>
    </div>
</div>
<hr class="w-75 m-auto" />
<div class="row mt-2 posts justify-content-center">
    <div class="col-4 post text-center">
        <img class="" src="@Url.Content("images/pp/default.png")" />
    </div>
    <div class="col-4 post text-center">
        <img class="" src="@Url.Content("images/pp/default.png")" />
    </div>
    <div class="col-4 post text-center">
        <img class="" src="@Url.Content("images/pp/default.png")" />
    </div>
</div>
