<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ul class="flex-column list-group">
                <li class="list-group-item"><a class="nav-link" href="./Admin/UserInfo">Users</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <h2 class="text-center">WP Admin Panel</h2>
        </div>
    </div>
</div>