.user-pp-border {
    border-style: solid;
    color:rgb(219,219,219);
}

.user-pp {
    height:150px;
}

#user-info hr{
    height:10%;
}

.posts{
    height:15rem;
}
.post{
    width:25%;
}
.post img{
    max-height:15rem;

}
