@using Entities.Concrete
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item d-flex align-items-center">
        <a class="nav-link d-flex" href="/User" title="Manage"><i class="material-icons">person</i></a>
    </li>
    <li class="nav-item d-flex align-items-center">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link d-flex text-danger"><i class="material-icons">logout</i></button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link btn btn-primary rounded-3 text-white" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li><hr class="opacity-0" style="width:0.5rem" /></li>
    <li class="nav-item">
        <a class="nav-link btn text-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
